#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt {
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
};

&mt {
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        game_layer_toggle {
            bindings = <&tog 5>;
            key-positions = <36 41>;
        };

        ctrl+backspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <39 40>;
        };

        lang_zap {
            bindings = <&none>;
            key-positions = <41 40>;
        };

        layer_4 {
            bindings = <&mo 4>;
            key-positions = <37 36>;
        };

        game_layer2_toggle {
            bindings = <&tog 6>;
            key-positions = <36 40>;
        };
    };

    macros {
        lang_zap: lang_zap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT) &kp COMMA &kp LS(LEFT_ALT)>;
            label = "LANG_ZAP";
        };

        lang_dot: lang_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_ALT) &kp DOT &kp LS(LEFT_ALT)>;
            label = "LANG_DOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt ESC RBKT        &kp Q  &kp W  &kp E        &kp R      &kp T        &kp Y            &kp U        &kp I               &kp O    &kp P      &kp LBKT
&mt LEFT_ALT GRAVE  &kp A  &kp S  &kp D        &kp F      &kp G        &kp H            &kp J        &kp K               &kp L    &kp SEMI   &mt RCTRL SQT
&mt LCTRL MINUS     &kp Z  &kp X  &kp C        &kp V      &kp B        &kp N            &kp M        &kp COMMA           &kp DOT  &kp SLASH  &mt RALT BSLH
                                  &lt RSE TAB  &sk LSHFT  &lt LWR RET  &lt 1 BACKSPACE  &lt 4 SPACE  &lt 2 LS(LEFT_ALT)
            >;
        };

        lower_layer {
            bindings = <
&mt LEFT_GUI F1    &kp F2    &kp F3  &kp F4    &kp F5    &kp F6     &kp F7     &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&mt LEFT_ALT PLUS  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &mt RCTRL MINUS
&mt LCTRL EQUAL    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &kp DELETE
                                     &trans    &trans    &trans     &trans     &trans    &trans
            >;
        };

        raise_layer {
            bindings = <
&mt LEFT_GUI KP_NUM  &kp KP_SLASH     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &kp C_VOL_UP  &kp INSERT  &kp PSCRN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &kp CLCK
&mt LEFT_ALT EQUAL   &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS   &kp C_MUTE    &kp LEFT    &kp UP     &kp DOWN_ARROW  &kp RIGHT_ARROW  &mt RCTRL K_APP
&kp LCTRL            &kp KP_N0        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT    &kp C_VOL_DN  &kp HOME    &kp END    &kp PG_UP       &kp PAGE_DOWN    &kp RALT
                                                 &trans     &trans     &trans        &trans        &trans      &trans
            >;
        };

        bluetooth_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        hotcut_layer {
            bindings = <
&kp LG(D)    &kp LS(LG(Z))  &kp LG(S)  &kp LS(LG(X))  &kp LG(R)  &kp LC(LA(DELETE))  &trans  &trans  &kp LS(LG(PSCRN))  &trans     &trans  &trans
&kp LA(TAB)  &kp LG(Z)      &kp LG(X)  &kp LG(C)      &kp LG(F)  &kp LC(LA(INSERT))  &trans  &trans  &kp LS(LG(S))      &kp LG(L)  &trans  &trans
&trans       &kp LC(Z)      &kp LC(X)  &kp LC(C)      &kp LC(V)  &trans              &trans  &trans  &lang_zap          &lang_dot  &trans  &trans
                                       &trans         &trans     &trans              &trans  &trans  &trans
            >;
        };

        game_layer {
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E    &kp R      &kp T  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_ALT    &kp A  &kp S  &kp D    &kp F      &kp G  &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C    &kp V      &kp B  &trans  &trans  &trans  &trans  &trans  &trans
                              &kp TAB  &kp SPACE  &mo 1  &trans  &trans  &trans
            >;
        };

        game_layer2 {
            bindings = <
&kp ESCAPE      &kp Q           &kp UP_ARROW    &kp E            &kp R      &kp T  &trans     &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F      &kp G  &trans     &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z           &kp X           &kp C            &kp V      &kp B  &trans     &trans  &trans  &trans  &trans  &trans
                                                &kp TAB          &kp SPACE  &mo 1  &kp ENTER  &trans  &trans
            >;
        };
    };
};
