#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define BLU 3
#define HOT 4
#define GAM 5
#define CHG 6

&lt {
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
};

&mt {
    quick-tap-ms = <200>;
    tapping-term-ms = <200>;
};

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        bluetooth_layer_1 {
            bindings = <&mo BLU>;
            key-positions = <37 36 38>;
        };

        bluetooth_layer_2 {
            bindings = <&mo BLU>;
            key-positions = <41 36>;
        };

        bluetooth_layer_3 {
            bindings = <&mo BLU>;
            key-positions = <39 40 41>;
        };
    };

    macros {
        lang_dollar: lang_dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(DOLLAR)) &kp LA(LS(LCTRL))>;
            label = "LANG_DLLR";
        };

        lang_hash: lang_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(HASH)) &kp LA(LS(LCTRL))>;
            label = "LANG_HASH";
        };

        lang_at: lang_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(AT_SIGN)) &kp LA(LS(LCTRL))>;
            label = "LANG_AT";
        };

        lang_excl: lang_excl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(EXCLAMATION)) &kp LA(LS(LCTRL))>;
            label = "LANG_EXCL";
        };

        lang_amps: lang_amps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(AMPERSAND)) &kp LA(LS(LCTRL))>;
            label = "LANG_AMPS";
        };

        lang_astr: lang_astr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(ASTERISK)) &kp LA(LS(LCTRL))>;
            label = "LANG_ASTR";
        };

        lang_lpar: lang_lpar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LEFT_PARENTHESIS)) &kp LA(LS(LCTRL))>;
            label = "LANG_LPAR";
        };

        lang_rpas: lang_rpas {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(RIGHT_PARENTHESIS)) &kp LA(LS(LCTRL))>;
            label = "LANG_RPAS";
        };

        lang_prcnt: lang_prcnt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(PERCENT)) &kp LA(LS(LCTRL))>;
            label = "LANG_PRCNT";
        };

        lang_caret: lang_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(CARET)) &kp LA(LS(LCTRL))>;
            label = "LANG_CARET";
        };

        lang_comma: lang_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(COMMA)) &kp LA(LS(LCTRL))>;
            label = "LANG_COMMA";
        };

        lang_period: lang_period {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(PERIOD)) &kp LA(LS(LCTRL))>;
            label = "LANG_PERIOD";
        };

        lang_slash: lang_slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(SLASH)) &kp LA(LS(LCTRL))>;
            label = "LANG_SLASH";
        };

        lang_backslash: lang_backslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(BACKSLASH)) &kp LA(LS(LCTRL))>;
            label = "LANG_BACKSLASH";
        };

        lang_leftbracket: lang_leftbracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(LEFT_BRACKET)) &kp LA(LS(LCTRL))>;
            label = "LANG_LEFTBRACKET";
        };

        lang_rightbracket: lang_rightbracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(RIGHT_BRACKET)) &kp LA(LS(LCTRL))>;
            label = "LANG_RIGHTBRACKET";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEF";
            bindings = <
&kp ESC    &kp BACKSLASH   &kp W           &kp E             &kp R        &kp T      &kp Y            &kp U        &kp I              &kp O            &none        &none
&kp SLASH  &kp Q           &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F  &kp G      &kp H            &mt LCTRL J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &kp P                    &mt RIGHT_BRACKET LEFT_BRACKET
&kp Z      &mt LEFT_GUI A  &kp X           &kp C             &kp V        &kp B      &kp N            &kp M        &kp COMMA          &kp DOT          &mt RIGHT_GUI SEMICOLON  &kp SQT
                                           &lt 4 DEL         &lt 2 TAB    &lt 1 RET  &lt 6 BACKSPACE  &lt 2 SPACE  &lt 4 LS(LA(LCTRL))
            >;
        };

        lower_layer {
            display-name = "LWR";
            bindings = <
&mt LEFT_GUI F1    &kp F2    &kp F3  &kp F4    &kp F5    &kp F6     &kp F7     &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&lang_slash  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &mt RIGHT_ALT MINUS
&mt LCTRL EQUAL    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &mt RCTRL DELETE
                                     &trans    &trans    &trans     &trans     &trans    &trans
            >;
        };

        raise_layer {
            display-name = "RSE";
            bindings = <
&mt LEFT_GUI KP_NUM  &kp KP_SLASH  &kp CLCK      &kp LC(PAGE_UP)  &kp INSERT  &kp LC(PAGE_DOWN)  &kp C_VOL_UP       &kp KP_N9  &kp KP_N8  &kp KP_N7  &kp PSCRN        &kp PAUSE_BREAK
&mt LEFT_ALT EQUAL   &kp PG_UP     &kp UP_ARROW  &kp DOWN         &kp RIGHT   &kp LA(N9)         &kp K_MUTE         &kp KP_N6  &kp KP_N5  &kp KP_N4  &kp KP_MULTIPLY  &kp SCROLLLOCK
&kp LCTRL            &kp LEFT      &kp PAGE_UP   &kp PAGE_DOWN    &kp HOME    &kp END            &kp C_VOLUME_DOWN  &kp KP_N3  &kp KP_N2  &kp KP_N1  &kp KP_N0        &mt RCTRL K_APP
                                                 &trans           &trans      &trans             &trans             &trans     &trans
            >;
        };

        bluetooth_layer {
            display-name = "BLU";
            bindings = <
&bootloader  &none         &none         &none         &out OUT_BLE  &out OUT_USB  &out OUT_USB  &out OUT_BLE  &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        hotcut_layer {
            display-name = "HOT";
            bindings = <
&kp LG(D)    &kp LS(LG(Z))  &kp LG(S)  &kp LS(LG(X))  &kp LG(R)  &kp GRAVE           &kp C_PREVIOUS  &trans             &kp LS(LG(PSCRN))  &trans      &trans                   &trans
&kp LA(TAB)  &kp LC(Z)      &kp LG(X)  &kp LG(C)      &kp LG(F)  &kp LC(LA(INSERT))  &kp C_PP        &trans             &kp LS(LG(S))      &kp LG(L)   &kp LG(LS(RIGHT_ARROW))  &trans
&trans       &kp LG(Z)      &kp LC(X)  &kp LC(C)      &kp LC(V)  &kp LC(LA(DELETE))  &kp C_NEXT      &kp RIGHT_BRACKET  &lang_dollar       &lang_hash  &lang_leftbracket        &lang_rightbracket
                                       &trans         &trans     &trans              &trans          &trans             &trans
            >;
        };

        game_layer {
            display-name = "GAM";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E    &kp R      &kp T        &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp A  &kp S  &kp D    &kp F      &kp G        &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C    &kp V      &kp B        &trans  &trans  &trans  &trans  &trans  &trans
                              &kp TAB  &kp SPACE  &lt 1 ENTER  &trans  &trans  &trans
            >;
        };

        chg_lang {
            display-name = "CHG";
            bindings = <
&kp F1             &lang_backslash      &kp F3    &kp F4      &kp F5        &kp F6       &kp UNDER       &kp EQUAL      &kp PLUS      &kp MINUS     &kp F11     &kp F12
&lang_slash  &lang_excl  &lang_at  &lang_hash  &lang_dollar  &lang_prcnt  &lang_caret  &lang_amps  &lang_astr  &lang_lpar  &lang_rpas  &mt RIGHT_ALT MINUS
&mt LCTRL EQUAL    &kp N1      &kp N2    &kp N3      &kp N4        &kp N5       &kp N6       &kp N7      &lang_comma      &lang_period      &kp LEFT_BRACKET      &kp RIGHT_BRACKET
                                         &trans      &trans        &trans       &trans       &trans      &trans
            >;
        };
    };
};
